@font-face {
	font-family: HoboWeb;
	src: url("../../fonts/HoboStd.otf") format("opentype");
}

@font-face {
	font-family: LiberationSans;
	src: url("../../fonts/LiberationSans-Regular.ttf") format("opentype");
}

@font-face {
	font-family: MagLetters;
	src: url("../../fonts/2086.ttf") format("opentype");
}

body {
	font-family: 'Droid Sans', sans-serif;
}

.logo-container {
	text-align: center;
	margin-bottom: 10px;
	img {
		width: 75%;
	}
}

.logo-container.mobile {
  border-bottom-color: $red;
	border-bottom-style: solid;
  border-bottom-width: 5px;
	margin: 0;
	img {
		margin-bottom: -10px;
	}
	h1 {
		font-size: 105px;
		margin: 0;
		color: $blue;
	}
	h2 {
		color: $blue;
		margin: 0;
		font-size: 75px
	}
}

.coming-soon {
	text-align: center;
	margin-bottom: 15px;
	h1 {
		font-size: 3.5em;
	}
	a {
		color: $blue;
		font-size: 22px;
		:hover {
			color: darken($blue, 10%);
		}
	}
}

.coming-soon.mobile {
	h1 {
		font-size: 70px;
	}
	p {
		font-size: 50px;
	}
	a {
		font-size: 50px;
	}
}

.address {
	font-size: 25px;
}

.kids {
	margin-bottom: -20px;
	text-align: center;
}

.scripture {
	font-size: 20px;
}

.mobile p.scripture {
	font-size: 33px;
}

// ----------

.navbar-brand > img {
	height: 90px;
}

.greeting {
	color: #fff;
	display: block;
	font-family: "MagLetters";
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 33%;
	width: 100%;
	left: 0;
	z-index: 10;
	-webkit-transform: translateY(-33%);
	-moz-transform: translateY(-33%);
	-ms-transform: translateY(-33%);
	-o-transform: translateY(-33%);
	transform: translateY(-33%);
}

.greeting h1 {
	font-size: 59px;
}

.welcome-bottom {
	bottom: 25px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 200;
}

.verse-container {
	top: 130px;
	position: absolute;
	text-align: center;
}

.verse-container > p {
	color: white;
	font-size: 30px;
	text-align: left;
	width: 50%;
}

.verse-container > h1 {
	color: white;
	font-family: 'HoboWeb';
	font-size: 40px;
	text-align: center;
	width: 50%;
}

section.verse {
	color: white;
}

section.mobile-verse.peace {
	color: white;
  background-image: url("../../images/peace.jpg");
}

section.mobile-verse.truth {
	color: white;
  background-image: url("../../images/walkInTruth.jpg");
}

div.verse{
	text-align: center;
	position: absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
	> h2 {
		font-family: 'HoboWeb';
		font-size: 40px;
		margin-top: 50px;
	}
}

div.verse.peace > h1 {
	font-family: 'HoboWeb';
	font-size: 75px;
	margin-top: 20px;
}

div.verse.truth > h1 {
	font-family: 'HoboWeb';
	font-size: 75px;
	margin-top: 100px;
}

div.verse.mobile > h1{
	margin-top: 10px;
}

div.verse.mobile > h2{
	margin-top: 10px;
}

/* service stuff */
.services {
	margin: 40px 0;
}

.service {
	width: 100%;
	height: 320px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	font-family: 'HoboWeb';
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 80px;
}

.service.care:hover {
	border-color: $green;
}

.service.faith:hover {
	border-color: $red;
}

.service.location:hover {
	border-color: $blue;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* end of service stuff ***************************************/

section.mission, section.testimonial {
	background-color: $blue;
	color: white;
	font-size: 16px;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	.section-title h5 {
		color: #000;
		font-weight: bold;
		font-size: 30px;
		font-family: 'LiberationSans';
	}
}

.mission-statement {
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: justify;
	> h1 {
		font-family: 'HoboWeb' !important;
		text-align: center;
		border-bottom-width: thin;
		border-bottom-style: solid;
	}
}

.btn-join-us {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
	padding: 10px 80px;
	display: inline-block;
	margin: 5px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-join-us:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-join-us {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1a */
.btn-join-us:hover,
.btn-join-us:active
 {
	color: $blue;
	background: #fff;
}

.section-title {
	color: $blue;
	margin-bottom: 35px;
	text-align: center;
	font-family: 'HoboWeb';
	h1 {
		font-size: 36px;
	}
}

section.staff {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.staff-member {
	display: block;
  margin: 0 auto 50px;
  width: 100%;
  max-width: 300px;
}

.staff-member-holder {
	position: relative;
	overflow: hidden;
}

.staff-member-image {
	float: none;
	overflow: hidden;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	border-radius: 5%;
	background-image: url("../../images/team-member-2.jpg");
	background-size: 100%;
}

.staff-member-image:hover {
	background-image: url("../../images/team-member-1.jpg");
}

.staff-member-image img {
	width: 100%;
}

.staff-member-info {
	margin-left: 0;
	min-height: 1px;
	padding: 15px 0 0;
	text-align: center;
	h4 {
		border-bottom-style: ridge;
	}
}

section.testimonial {
	.section-title > h1 {
		color: white;
	}
}

.testimonial-content {
	color: white;
}

.testimonial-parent {
	margin-top: 10px;
}

.testimonial-nav {

}

section.classes {
	padding-top: 50px;
	padding-bottom: 50px;
	.section-title {
		color: $green;
	}
}

section.contact {
	border-top-width: medium;
	border-top-color: $orange;
	border-top-style: solid;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "HoboWeb";
	font-size: 20px;
	text-align: center;
	.section-title {
		color: $orange;
	}
}

section.schedule {
	font-family: "HoboWeb";
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	.section-title {
		color: $red;
	}
}

.mobile-schedule {
	display: none;
}

#scheduleSelector {
	width: 75%;
	margin: 0 auto;
}

button.schedule-btn {
	&:hover {
		background-color: $red;
		color: white;
	}
	&.selected {
		background-color: $red;
		color: white;
	}
}

.mobile-schedule-container {
	text-align: center;
}

.mobile-schedule-group {
	margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

.schedule-btn {
	font-size: 18px;
}

section.resources {
	background-color: $yellow;
	font-family: "HoboWeb";
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	.section-title {
		color: white;
	}
}

.resources-body {
	margin-top: 30px;
}

a.resource {
	color: white;
	font-family: 'Droid Sans', sans-serif;
}

svg.contact {
	width: 60px;
}

svg.document {
	margin-bottom: -30px;
	width: 113px;
	&:hover {
		fill: white;
	}
}

.img-contact {
	margin-bottom: 10px;
}

.footer {
	background-color: #262526;
	padding: 20px;
}

section.footer {
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

@media (max-width: 767px) {

	.navbar-nav > li > a {
		line-height: 15px !important;
		padding-bottom: 10px !important;
		padding-top: 10px !important;
	}

	.fact-container {
		margin-top: 50px;
	}

	.welcome-bottom {
		position: relative;
	}

	.verse{
		> h1 {
			font-size: 50px;
		}
		> h2 {
			font-size: 30px;
			margin-top: 110px;
		}
	}
}


/* ============================================================
  SECTIONS
============================================================ */
// section.module h2 {
//   margin-bottom: 40px;
//   font-family: "Roboto Slab", serif;
//   font-size: 30px;
// }
// section.module p {
//   margin-bottom: 40px;
//   font-size: 16px;
//   font-weight: 300;
// }
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position: relative;
}
// section.module.parallax h1 {
//   color: rgba(255, 255, 255, 0.8);
//   font-size: 48px;
//   line-height: 600px;
//   font-weight: 700;
//   text-align: center;
//   text-transform: uppercase;
//   text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// }
section.module.parallax-1 {
  background-image: url("../../images/peace.jpg");
}

section.module.parallax-2 {
  background-image: url("../../images/walkInTruth.jpg");
}


// @media all and (min-width: 600px) {
//   section.module h2 {
//     font-size: 42px;
//   }
//   section.module p {
//     font-size: 20px;
//   }
//   section.module.parallax h1 {
//     font-size: 96px;
//   }
// }
// @media all and (min-width: 960px) {
//   section.module.parallax h1 {
//     font-size: 160px;
//   }
// }
