@font-face {
	font-family: HoboWeb;
	src: url("../../fonts/HoboStd.otf") format("opentype");
}

@font-face {
	font-family: LiberationSans;
	src: url("../../fonts/LiberationSans-Regular.ttf") format("opentype");
}

@font-face {
	font-family: MagLetters;
	src: url("../../fonts/2086.ttf") format("opentype");
}

body {
	font-family: 'Droid Sans', sans-serif;
}

.logo-container {
	text-align: center;
	margin-bottom: 10px;
	img {
		width: 75%;
	}
}

.logo-container.mobile {
  border-bottom-color: $red;
	border-bottom-style: solid;
  border-bottom-width: 5px;
	margin: 0;
	img {
		margin-bottom: -10px;
	}
	h1 {
		font-size: 105px;
		margin: 0;
		color: $blue;
	}
	h2 {
		color: $blue;
		margin: 0;
		font-size: 75px
	}
}

.coming-soon {
	text-align: center;
	margin-bottom: 15px;
	h1 {
		font-size: 3.5em;
	}
	a {
		color: $blue;
		font-size: 22px;
		:hover {
			color: darken($blue, 10%);
		}
	}
}

.coming-soon.mobile {
	h1 {
		font-size: 70px;
	}
	p {
		font-size: 50px;
	}
	a {
		font-size: 50px;
	}
}

.address {
	font-size: 25px;
}

.kids {
	margin-bottom: -20px;
	text-align: center;
}

.scripture {
	font-size: 20px;
}

.mobile p.scripture {
	font-size: 33px;
}

// ----------

.navbar-brand > img {
	height: 90px;
}

.greeting {
	color: #fff;
	display: block;
	font-family: "MagLetters";
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 33%;
	width: 100%;
	left: 0;
	z-index: 10;
	-webkit-transform: translateY(-33%);
	-moz-transform: translateY(-33%);
	-ms-transform: translateY(-33%);
	-o-transform: translateY(-33%);
	transform: translateY(-33%);
}

.greeting h1 {
	font-size: 59px;
}

.welcome-bottom {
	bottom: 25px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 200;
}

	// .greeting {
	// 	margin-top: 180px;
	// }
	//
	// .greeting h1 {
	// 	font-size: 36px;
	// }
	//
	// .greeting p {
	// 	font-size: 18px;
	// }

.fact-container {
	padding-top: 60px;
	text-align: center;
	position: relative;
}

.fact-icon {
	background: #fff;
  color: #fff;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 120px;
  z-index: 1;
}

.fact-box {
	color: #fff;
	padding: 60px 15px 15px;
	h3 {
		font-family: "HoboWeb";
	}
}

.fact-box {
	&.faith {
		background-color: $green;
	}
	&.love {
		background-color: $red;
	}
	&.travel {
		background-color: $yellow;
	}
}

.fact-arrow {
	bottom: -15px;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
	&.faith {
		background-color: $green;
	}
	&.love {
		background-color: $red;
	}
	&.travel {
		background-color: $yellow;
	}
}

section#verse {
	background-color: $blue;
	color: white;
}

.verse{
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
	> h1 {
		font-family: 'MagLetters';
		font-size: 90px
	}
	> h4 {
		font-family: 'MagLetters';
		font-size: 40px;
	}
}

section.mission {
	background-color: white;
	color: $red;
	margin-top: 50px;
	min-height: 300px;
	text-align: center;
	.section-title h5 {
		color: #000;
		font-weight: bold;
		font-size: 30px;
		font-family: 'LiberationSans';
	}
}

.mission-statement {
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: justify;
}

.section-title {
	color: $blue;
	margin-bottom: 35px;
	text-align: center;
	font-family: 'HoboWeb';
	h2 {
		font-size: 75px;
	}
}

section.contact {
	border-top-width: medium;
	border-top-color: $orange;
	border-top-style: solid;

	font-family: "HoboWeb";
	font-size: 20px;
	text-align: center;
	.section-title {
		color: $orange;
	}
}

svg.contact {
	width: 60px;
}

.img-contact {
	margin-bottom: 10px;
}

.footer {
	background-color: #262526;
	padding: 20px;
}

section.footer {
	color: white;
	text-align: center;
}

@media (max-width: 767px) {

	.navbar-nav > li > a {
		line-height: 15px !important;
		padding-bottom: 10px !important;
		padding-top: 10px !important;
	}

	.facts-container {
		background-color: $blue;
	}

	.fact-container {
		margin-top: 50px;
	}

	.welcome-bottom {
		position: relative;
	}

	.verse{
		> h1 {
			font-size: 50px;
		}
		> h4 {
			font-size: 30px;
		}
	}
}
