@font-face {
	font-family: HoboWeb;
	src: url("../../fonts/HoboStd.otf") format("opentype");
}

@font-face {
	font-family: LiberationSans;
	src: url("../../fonts/LiberationSans-Regular.ttf") format("opentype");
}

@font-face {
	font-family: MagLetters;
	src: url("../../fonts/2086.ttf") format("opentype");
}

body {
	font-family: 'Droid Sans', sans-serif;
}

.logo-container {
	text-align: center;
	margin-bottom: 10px;
	img {
		width: 75%;
	}
}

.logo-container.mobile {
  border-bottom-color: $red;
	border-bottom-style: solid;
  border-bottom-width: 5px;
	margin: 0;
	img {
		margin-bottom: -10px;
	}
	h1 {
		font-size: 105px;
		margin: 0;
		color: $blue;
	}
	h2 {
		color: $blue;
		margin: 0;
		font-size: 75px
	}
}

.coming-soon {
	text-align: center;
	margin-bottom: 15px;
	h1 {
		font-size: 3.5em;
	}
	a {
		color: $blue;
		font-size: 22px;
		:hover {
			color: darken($blue, 10%);
		}
	}
}

.coming-soon.mobile {
	h1 {
		font-size: 70px;
	}
	p {
		font-size: 50px;
	}
	a {
		font-size: 50px;
	}
}

.address {
	font-size: 25px;
}

.kids {
	margin-bottom: -20px;
	text-align: center;
}

.scripture {
	font-size: 20px;
}

.mobile p.scripture {
	font-size: 33px;
}

// ----------

.navbar-brand > img {
	height: 90px;
}

.greeting {
	color: #fff;
	display: block;
	font-family: "MagLetters";
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 33%;
	width: 100%;
	left: 0;
	z-index: 10;
	-webkit-transform: translateY(-33%);
	-moz-transform: translateY(-33%);
	-ms-transform: translateY(-33%);
	-o-transform: translateY(-33%);
	transform: translateY(-33%);
}

.greeting h1 {
	font-size: 59px;
}

.welcome-bottom {
	bottom: 25px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 200;
}

	// .greeting {
	// 	margin-top: 180px;
	// }
	//
	// .greeting h1 {
	// 	font-size: 36px;
	// }
	//
	// .greeting p {
	// 	font-size: 18px;
	// }

.fact-container {
	padding-top: 60px;
	text-align: center;
	position: relative;
}

.fact-icon {
	background: #fff;
  color: #fff;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 120px;
  z-index: 1;
}

.fact-box {
	color: #fff;
	padding: 60px 15px 15px;
	opacity: .8;
	h3 {
		font-family: "HoboWeb";
	}
}

.fact-box {
	&.faith {
		background-color: $green;
	}
	&.love {
		background-color: $red;
	}
	&.travel {
		background-color: $yellow;
	}
}

.fact-arrow {
	bottom: -15px;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
	&.faith {
		background-color: $green;
	}
	&.love {
		background-color: $red;
	}
	&.travel {
		background-color: $yellow;
	}
}

section#verse {
	color: white;
}

section#mobileVerse {
	color: white;
  background-image: url("../../images/peace.jpg");
}

div.verse{
	text-align: center;
	> h1 {
		font-family: 'HoboWeb';
		font-size: 75px
	}
	> h2 {
		font-family: 'HoboWeb';
		font-size: 40px;
		margin-top: 100px;
	}
}

div.verse.mobile > h2{
	margin-top: 20px;
}

section.mission {
	background-color: white;
	color: $blue;
	margin-top: 50px;
	min-height: 300px;
	text-align: center;
	.section-title h5 {
		color: #000;
		font-weight: bold;
		font-size: 30px;
		font-family: 'LiberationSans';
	}
}

.mission-statement {
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: justify;
}

.section-title {
	color: $blue;
	margin-bottom: 35px;
	text-align: center;
	font-family: 'HoboWeb';
	h2 {
		font-size: 75px;
	}
}

section.contact {
	border-top-width: medium;
	border-top-color: $orange;
	border-top-style: solid;

	font-family: "HoboWeb";
	font-size: 20px;
	text-align: center;
	.section-title {
		color: $orange;
	}
}

section.schedule {
	font-family: "HoboWeb";
	font-size: 20px;
	text-align: center;
	.section-title {
		color: $red;
	}
}

section.resources {
	font-family: "HoboWeb";
	font-size: 20px;
	text-align: center;
	.section-title {
		color: $yellow;
	}
}

svg.contact {
	width: 60px;
}

.img-contact {
	margin-bottom: 10px;
}

.footer {
	background-color: #262526;
	padding: 20px;
}

section.footer {
	color: white;
	text-align: center;
}

@media (max-width: 767px) {

	.navbar-nav > li > a {
		line-height: 15px !important;
		padding-bottom: 10px !important;
		padding-top: 10px !important;
	}

	.fact-container {
		margin-top: 50px;
	}

	.welcome-bottom {
		position: relative;
	}

	.verse{
		> h1 {
			font-size: 50px;
		}
		> h2 {
			font-size: 30px;
			margin-top: 110px;
		}
	}
}


/* ============================================================
  SECTIONS
============================================================ */
// section.module h2 {
//   margin-bottom: 40px;
//   font-family: "Roboto Slab", serif;
//   font-size: 30px;
// }
// section.module p {
//   margin-bottom: 40px;
//   font-size: 16px;
//   font-weight: 300;
// }
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// section.module.parallax h1 {
//   color: rgba(255, 255, 255, 0.8);
//   font-size: 48px;
//   line-height: 600px;
//   font-weight: 700;
//   text-align: center;
//   text-transform: uppercase;
//   text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// }
section.module.parallax-1 {
  background-image: url("../../images/peace.jpg");
}

// @media all and (min-width: 600px) {
//   section.module h2 {
//     font-size: 42px;
//   }
//   section.module p {
//     font-size: 20px;
//   }
//   section.module.parallax h1 {
//     font-size: 96px;
//   }
// }
// @media all and (min-width: 960px) {
//   section.module.parallax h1 {
//     font-size: 160px;
//   }
// }
