@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,700italic,400italic,300italic,300,600,600italic,800italic');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

html {
	background-color: white;
	margin: 0;
	width: 100%;
	min-height: 100%;
	position: relative;
}

body {
	background-color: white;		
	font: 93.8% / 1.5 'Poppins', sans-serif;	
	min-height: 100%;
	margin: 0;
	text-align: center;
}

p {
	margin: 1em 0
}

