		@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,700italic,400italic,300italic,300,600,600italic,800italic');
		@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Poppins:400,700');
		@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

		/* html,
		body {
				background-color: #242020;
				margin: 0;
				width: 100%;
				min-height: 100%;
				position: relative;
		}

		body {
				color: #ffffff;
				font: 93.8% / 1.5 'Poppins', sans-serif;
				text-align: center;
		} */

		html {
			background-color: #242020;
			margin: 0;
			width: 100%;
			min-height: 100%;
			position: relative;
		}

		body {
			color: #ffffff;		
			font: 93.8% / 1.5 'Poppins', sans-serif;	
			height: 100%;
			margin: 0;
			text-align: center;
		}

		p {
				margin: 1em 0
		}

		footer {
			background-color: #535251;
			z-index: 1000;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.snow {
			position: fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			overflow:hidden;
			z-index: 1;
		}

		@media (min-width: 500px) {
				body {
						font-size: 100%
				}
		}

		@media (min-width: 700px) {
				body {
						font-size: 106.3%
				}
		}

		@media (min-width: 900px) {
				body {
						font-size: 112.5%
				}
		}

		@media (min-width: 1100px) {
				body {
						font-size: 118.5%
				}
		}

		h3 {
			font-family: 'Bowlby One', cursive;
			font-size: 2em;
			letter-spacing: 2px;
		}

		.double, 
		.trip {
				max-width: 450px;
				width: 90%;
				margin: 0 auto;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				text-align: left;
		}

		@media (min-width: 800px) {
				.double,
				.trip {
						max-width: 1040px;
						margin-bottom: 0
				}
		}

		.grid-unit {
				padding: 10% 0 10% 0;
				margin: auto;
				text-align: center;
		}

		.double .grid-unit.graphic {
				padding: 0;
				text-align: center;
		}

		.trip .grid-unit.staff,
		.trip .grid-unit.staff img {
			padding: 0;
			text-align: center;
			max-width: 150px;
		}

		@media (min-width: 800px) {
				.double .grid-unit.graphic svg {
						max-width: 380px
				}

				.trip .grid-unit.staff,
				.trip .grid-unit.staff img {
					max-width: 300px;
				}
		}

		@media (min-width: 800px) {
				.double:last-child .graphic svg {
						max-width: 340px
				}

				.double .grid-unit.graphic.alternate {
						-webkit-box-ordinal-group: 3;
						-ms-flex-order: 2;
						order: 2
				}
		}

		.double .grid-unit {
				width: 100%
		}

		.trip .grid-unit {
			width: 50%;
		}

		.trip.resources .grid-unit {
			width: 100%;
		}

		@media (min-width: 800px) {
				.double .grid-unit {
						width: 50%
				}
				
				.trip .grid-unit,
				.trip.resources .grid-unit {
					width: 33%;
				}
		}

		.container {
			display: flex;
		}

		.container--home {
			background: url(../../images/building-large.jpg) no-repeat 70%;
			filter: grayscale(65%);
			background-position-y: -70px;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 120vh;
		}

		@media (min-width: 500px) and (min-height: 800px) {
				.container--home {
						background-image: url(../../images/building-medium.jpg);
				}
		}

		@media (min-width: 1400px) {
				.container--home {
						background-image: url(../../images/building-large.jpg);
				}
		}

		.main {
			background: #4776E6;  /* fallback for old browsers */
			background-image: url(../../images/flowers.png), -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
			background-image: url(../../images/flowers.png), linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}

		.main p {
				max-width: 36em;
				margin: 0 auto 2em;
				text-align: left;
		}

		.icon--feature {
			width: 200px;
		}

		.details {
			font-size: 1.4em;
			margin: 0;
			text-align: center;
			width: 70%;
		}

		.container--feature {
			align-items: center;	
			flex-direction: column;
			justify-content: center;
			width: 1000px;
		}

		.banner {
			background-color: #535251;
			width: 100%;
		}

		.banner h3 {
			font-size: .7em;
			margin: 1.5em 0 1em
		}

		.card {
			background-color: rgba(214, 167, 98, .8);
			display:flex;
			flex-direction: column;
			height: 280px;
			font-size: 2em;
			font-weight: bold;
			line-height: 1.1em;
			margin: 200px;
			padding: 20px;
			width: 320px;
		}

		.mission-container {
				padding: 11% 5% 6%;
		}

		.mission-container p {
			text-align: center;
		}

		.grid-unit.staff p {
			margin-bottom: 0;
		}

		.grid-unit.staff p.name {
			font-family: 'Bowlby One', cursive;
			font-size: 1.3em;
			margin-bottom: -0.2em;
		}

		.grid-unit.staff img {
			margin-top: 2em;
		}

		.grid-unit.resources {
			margin: 0;
			padding-bottom: 0;
		}

		.grid-unit.blocks {
			margin-bottom: 20%;
		}

		@media(min-width: 800px) {
			.grid-unit.resources {
				padding-bottom: 10%;
			}

			.grid-unit.blocks {
				width: 60%;
			}
		}

		.resources {
			text-align: left;
			z-index: 3;
		}

		a {
			color: white;
			text-decoration: none;
		}

		a:hover {
			color: #8E54E9;
		}

		.icon {
			width: 10px;
		}

		@media(min-width: 800px) {
			.icon {
				width: 15px;
			}
		}

		.meta {
			padding-bottom: 10px;
		}

		.meta p {
			margin: 0;
			font-size: .7em;
		}

		.logo {
			padding: 10% 0 0 0;
			width: 50%;
		}

		.social-logo {
			padding: 10% 0 0 0;			
			width: 25%;
		}

		.class {
			width: 300px;
		}

		@media(min-width: 800px) {
			.class {
				width: 380px;
			}
		}

	.welcome {
		font-family: 'Bowlby One', cursive;		
		font-size: 4em;
		display: flex;
		align-items: flex-end;
		margin-bottom: 45%;
		align-items: top;
		height: 100vh;
	}

	.welcome img {
		align-items: flex-start;
		padding-left: 15%;
		line-height: 1em;
    margin-bottom: 75%;
    width: 80%;
    display: none;
	}

  @media(min-width: 400px) {
    .welcome img {
      margin-bottom: 60%;
    }
  }

   @media(min-width: 500px) {
    .welcome img {
      display: block;
      margin-bottom: 30%;
    }
  }

  @media(min-width: 600px) {
    .welcome img {
      display: block;
      margin-bottom: 10%;
    }
  }

  @media(min-width: 700px) {
    .welcome img {
      display: block;
      margin-bottom: 0%;
    }
  }

  @media(min-width: 800px) {
    .welcome {
      align-items: center;
      margin-bottom: 0;
    }

    .welcome img {
      display: block;
      width: 40%;
      margin-bottom: 0;
    }
	}

   @media(max-height: 375px) {
    .welcome img {
      display: none;
    }
  }

	.testimonials {
			height: 470px;
	}

  .testimonials.mission-container {
    padding-bottom: 0;
  }

	@media(min-width: 800px) {
		.testimonials {
			height: 500px;
		}
	}

	.w3-animate-fading {
		animation:fading .5s;
	}

	@keyframes fading {
		0% {
			opacity: 0;
		}
		25% {
			opacity: .25;
		}
		50% {
			opacity: .5;
		}
		75% {
			opacity: .75;
		}
		100% { 
			opacity: 1;
			}
		}

    .testimonial {
      display: none;
    }

    .slide-bullet {
      background-color:transparent;
      border: 1px solid white;
      border-radius:50%;
      color:#fff;
      cursor: pointer;
      display:inline-block;
      height: 30px;
      text-align:center;
      width: 30px;
    }

    @media(min-width: 800px) {
      .slide-bullet {
        height: 15px;
        width: 15px;
      }
    }

    .slide-bullet:hover {
      background-color: white;
    }

    .active-slide-bullet {
      background-color: white;
    }

    .bullets {
      padding-bottom: 6%;
    }